.kotak-raw-data {
  width: fit-content;
  margin-top: 20px;
  height: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.table-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow:scroll;
  width: fit-content;
  /* background-image: linear-gradient(to bottom, #4d94ff, #0066cc); Blue gradient */
  color: white; /* Text color */
}

.custom-table-container {
  max-height: 700px; /* Adjust height as needed */
}

.table-header {
  
  background-image: linear-gradient(to bottom, #4d94ff, #0066cc); /* Blue gradient */
  color: white; /* Text color */
}

.calendar-option {
  position: fixed;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px; /* Adjust width as needed */
}
